# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore composer and node dependency directories
vendor/
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore some dev files
*.code-workspace
wpackio.server.js

# ignore "dist" directory (contains compiled/copied css, js, images, etc. ; managed by webpack through wpack.io)
dist/

# ignore everything in the "package" directory, except zip files (these directory and files are managed by wpack.io)
package/*
!package/*.zip
