/************************************************
 * STYLES FOR THE WORDPRESS GALLERY POSTS
 ***********************************************/

// Unset the default styles of the Wordpress block gallery.
@mixin wp-gallery-styles-unset {
    li {
        width: unset;
        position: unset;

        img {
            width: unset;
            object-fit: unset;
        }

        figcaption {
            width: unset;
            max-height: unset;
            padding: unset;
            background: unset;
            color: unset;
            text-align: unset;
            font-size: unset;
        }
    }
}

// CSS selector for the gallery 'other content' (serving as description)
$other-content: ':not(nav):not(figure.wp-block-gallery)';

body.single-format-gallery {
    > header, > nav {
        display: none;
    }

    > main {
        max-width: 2000px;
        height: calc(100vh - 32px);
        padding: 30px;
        padding-right: 0;

        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "a c" "b c";

        // The "back to category" link
        > a#back-to-category {
            grid-area: a;
            align-self: start;
            width: max-content;
            @include link-bold;
            &::before { content: '< '; }
        }

        // Part containing the gallery name (<h1>)
        // and 2 links allowing to switch between gallery and index views.
        > header {
            grid-area: b;
            align-self: end;

            > h1 { font-size: 1em; }

            > nav > a {
                &.active {
                    font-weight: 700;
                    &:hover {
                        color: inherit;
                        cursor: default;
                    }
                }

                &:not(.active) {
                    text-decoration: none;
                }

                &:not(:first-of-type)::before {
                    content: '|';
                    margin: 0 10px;
                    text-decoration: none !important;
                    cursor: initial;
                }
            }
        }

        // Part containing the photos gallery and eventual complementary contents
        > section {
            grid-area: c;
            display: grid;
            justify-items: center;
            height: 100%;
            overflow-y: auto;

            > #{$other-content} {
                max-width: 800px;
                margin: 1rem auto;
            }

            // The photos gallery
            > figure.wp-block-gallery {
                padding-right: 32px;
                figcaption { display: none; }
            }

            // Styles for the INDEX view
            &.index {
                // Complementary contents are always displayed (after the photos)
                > #{$other-content} {
                    display: block !important;
                }

                > figure.wp-block-gallery {
                    grid-row: 1 / 2; // <-- the photos gallery is displayed first
                    display: flex;

                    li:hover {
                        opacity: .5;
                        cursor: pointer;
                    }
                }
            }

            // Styles for the GALLERY view
            &.gallery {
                // Complementary contents are hidden by default
                > #{$other-content} {
                    display: none;
                }

                // 2 links allowing to display the previous and next photos
                > nav {
                    position: absolute;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: calc(80% - 50px);
                    height: 100%;
                    top: 0;
                    right: 20px; // <-- allow to not cover the scroll bar
                    z-index: 1000;

                    > a {
                        &[data-photo="prev"] { cursor: w-resize; }
                        &[data-photo="next"] { cursor: e-resize; }
                    }
                }

                > figure.wp-block-gallery {
                    &, ul, li, figure {
                        height: 100%;
                        display: block;
                    }

                    @include wp-gallery-styles-unset;

                    li {
                        margin: 0;
                        img { margin: 0 auto; }

                        // Do not use 'display: none;'
                        // Otherwise the image is not loaded (until its first display)
                        &.invisible {
                            @include invisible;
                        }

                        figcaption {
                            position: absolute;
                            display: initial;
                            max-width: 20%;
                            left: 30px;
                            bottom: 120px;
                        }
                    }
                }
            }
        }
    }
}