@mixin link-bold {
    text-decoration: none;
    font-weight: 700;
}

@mixin button-as-text {
    padding: 0;
    background: none;
    border: none;
}

@mixin button-as-link {
    @include button-as-text;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: var(--color-primary);
    }
}

@mixin invisible {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.
}