/************************************************
 * HEADER
 ***********************************************/

 body > header {
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(auto, var(--page-max-width));
    justify-content: center;

    background-color: var(--color-primary);
    color: #ffffff;
    font-size: 1.33em;
    font-weight: 700;

    > * {
        max-width: 450px;
        opacity: 0.95;
    }

    a, a:hover {
        color: inherit;
    }

    a:hover {
        opacity: 0.6;
    }

    // Our WordPress sidebar for the header
    > section#header-content {
        // Widget wrapper
        > li { display: block; }

        // Widget title
        > li > h2 {
            margin: 0;
            font-size: 1.2em;
        }
    }

    @media (min-width: $breakpoint-sm + 1) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}