/************************************************
 * MAIN MENU
 ***********************************************/

 body > nav {
    position: sticky;
    top: 0;
    background-color: inherit;
    font-size: 2.4em;
    font-weight: 700;

    a {
        padding-right: 10px;
        text-decoration: none;
    }

    > h1 > a {
        color: var(--color-primary);
    }

    > h1,
    > ul,
    > ul > li {
        margin: 0;
        padding: 0;
        display: inline;
        font-size: inherit;
    }

    > ul > li.current-menu-item > a {
        text-decoration: underline;
    }

    > button {
        display: none;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 2em;
    }

    @media (max-width: $breakpoint-md) {
        > ul {
            display: block;
        }
    }

    @media (max-width: $breakpoint-sm) {
        > ul {
            > li { display: none; }

            &.active > li,
            > li.current-menu-item {
                display: block;
            }
        }

        > button {
            display: initial;
            float: right;
            @include button-as-link;
        }
    }
}