/************************************************
 * STYLES FOR THE WORDPRESS GALLERY POSTS
 ***********************************************/

// Unset the default styles of the Wordpress block gallery.
@mixin wp-gallery-styles-unset {
    li {
        width: unset;
        position: unset;

        img {
            width: unset;
            object-fit: unset;
        }

        figcaption {
            width: unset;
            max-height: unset;
            padding: unset;
            background: unset;
            color: unset;
            text-align: unset;
            font-size: unset;
        }
    }
}

// CSS selector for the gallery 'other content' (serving as description)
$other-content: ':not(nav):not(figure.wp-block-gallery)';

body.single-format-gallery {
    margin: 30px;

    > header, > nav {
        display: none;
    }

    > main {
        max-width: 2000px;
        height: calc(100vh - 92px);
        padding: 0;
        position: relative;

        // The "back to category" link
        > a#back-to-category {
            position: absolute;
            @include link-bold;
            &::before { content: '< '; }
        }

        // Part containing <h1> gallery name, <h2> active photo legend and <a> gallery view activators
        > header {
            position: absolute;
            bottom: 0;
            width: 20%;

            > h1, > h2 { font-size: 1em; }
            > h2 { font-weight: 400; }

            > ul {
                @include list-inline;

                > li:not(:first-of-type)::before  {
                    content: '|';
                    margin: 0 10px;
                }

                a {
                    &.active {
                        font-weight: 700;
                        &:hover {
                            color: inherit;
                            cursor: default;
                        }
                    }

                    &:not(.active) {
                        text-decoration: none;
                    }
                }
            }
        }

        // Part containing the photos gallery and eventual complementary contents
        > section {
            position: absolute;
            right: -30px;
            width: 80%;
            height: 100%;
            overflow-y: auto;

            // Other content of the WordPress post (serving as gallery description)
            > #{$other-content} {
                max-width: $breakpoint-sm;
                margin: 1rem auto;
                padding-right: 30px;
            }

            // The photos gallery
            > figure.wp-block-gallery {
                padding-right: 30px;
                figcaption { @extend %invisible; }
            }

            // Links allowing to navigate through photos and gallery description
            &.description, &.gallery {
                > nav > a {
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    z-index: 1000;

                    &[data-photo="prev"] {
                        cursor: w-resize;
                    }

                    &[data-photo="next"] {
                        right: 0;
                        cursor: e-resize;
                    }
                }
            }

            // Styles for the DESCRIPTION view
            &.description {
                > figure.wp-block-gallery {
                    display: none;
                }
            }

            // Styles for the INDEX view
            &.index {
                display: grid;

                > nav{
                    display: none;
                }

                > figure.wp-block-gallery {
                    grid-row: 1 / 2; // <-- gallery is displayed before other content
                    display: flex;

                    li:hover {
                        opacity: .5;
                        cursor: pointer;
                    }
                }
            }

            // Styles for the GALLERY view
            &.gallery {
                > #{$other-content} {
                    display: none;
                }

                > figure.wp-block-gallery {
                    &, ul, li, figure {
                        height: 100%;
                        display: block;
                    }

                    @include wp-gallery-styles-unset;

                    li {
                        margin: 0;

                        img {
                            height: 100%;
                            margin: 0 auto;
                        }

                        // Do not use 'display: none;'
                        // Otherwise the image is not loaded (until its first display)
                        &.invisible {
                            @extend %invisible;
                        }
                    }
                }
            }
        }
    }

    // CSS rules for 'small' screens
    @media (min-width: $breakpoint-md + 1) and (max-width: $breakpoint-xl) {
        > main > header > ul > li {
            display: list-item;

            &::before  {
                content: '> ' !important;
                margin: 0 !important;
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        > main {
            display: grid;
            grid-template-rows: 1fr auto;
            row-gap: 1rem;
            height: calc(100vh - 106px);

            > a#back-to-category {
                top: -20px;
            }

            > header {
                grid-row: 2 / 3;
                position: unset;
                width: 100%;
                text-align: center;
            }

            > section {
                grid-row: 1 / 2;
                position: relative;
                right: unset;
                width: calc(100% + 30px);
            }
        }
    }
}